/*Con esto hacemos la animacion y todo lo referenete 
a la galeria, que funciona con java scrip*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: #f2f2f2;
}

.main
{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.sliders
{
    width: 100%;
}

.sliders img
{
    width: 100%;
}

.slidesjs-pagination
{
    background: #424242;
    list-style: none;
    overflow: hidden;
}

.slidesjs-pagination li
{
    float: left;
}
.slidesjs-pagination li a
{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration:none;
}
.slidesjs-pagination li a:hover
{
    background: #000000;

}
.sliders .active
{
    background: black;
}
.slidesjs-navigation
{
    background: #000000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
}
/*modificaciones generales*/
