.body_Pregunta
{
    display: inline-block;
    text-align: center;
    border: solid 1px;
}
.eliminar_pregunta
{
    display: flex; 
    justify-content: flex-end;
    /*display: flex;
    text-align: right;*/
}